# Main Code

## Old Model

In [68]:
import pandas as pd
import numpy as np
import random

df = pd.DataFrame(columns=['university','cost','gpa'])
df

universities = ["New York University","Barnard College", "Cornell University","Long Island University","Columbia University", "Hunter College", "St. Johns University"]

for x in range(1000):
    df.loc[len(df.index)] = [random.choice(universities), random.randint(1,5),random.randint(0,8), ]

In [186]:
df.head(5)

             university  cost  gpa
0   New York University     5    3
1       Barnard College     3    3
2  St. Johns University     1    6
3    Cornell University     1    1
4   Columbia University     2    3

In [156]:
X = train_set[['cost','gpa']]
y = train_set['university']

In [157]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [160]:
from sklearn.ensemble import RandomForestClassifier

forest_clf = RandomForestClassifier(random_state=42)

y_probas_forest = forest_clf.fit(X_train, y_train)

In [184]:
s=X_test.iloc[[3]] #test one set of vals

In [180]:
forest_clf.predict(s)

array(['Columbia University'], dtype=object)

# new model

In [228]:
newdf = pd.read_csv("newdata4.csv")

In [229]:
newdf.shape

(2021, 26)

In [250]:
newdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2021 entries, 0 to 2020
Data columns (total 26 columns):
 #   Column                                                                Non-Null Count  Dtype
---  ------                                                                --------------  -----
 0   unitid                                                                2021 non-null   int64
 1   institution name                                                      2021 non-null   object
 2   year                                                                  2021 non-null   int64
 3   HD2021.Bureau of Economic Analysis (BEA) regions                      2021 non-null   object
 4   HD2021.Degree-granting status                                         2021 non-null   object
 5   HD2021.Institutional category                                         2021 non-null   object
 6   HD2021.State abbreviation                                             2021 non-null   object
 7   IC2021.Other degree                                                   2021 non-null   object
 8   IC2021.Academic                                                       2021 non-null   object
 9   IC2021.Undergraduate application fee                                  2020 non-null   float64
 10  IC2021_AY.In-state average tuition for full-time undergraduates       2009 non-null   float64
 11  IC2021_AY.Out-of-state average tuition for full-time undergraduates   2009 non-null   float64
 12  IC2021_AY.In-state average tuition full-time graduates                1661 non-null   float64
 13  IC2021_AY.Out-of-state average tuition full-time graduates            1661 non-null   float64
 14  IC2021_AY.On campus, room and board 2021-22                           1590 non-null   float64
 15  ADM2021.Admission test scores                                         1638 non-null   object
 16  ADM2021.Applicants men                                                1638 non-null   float64
 17  ADM2021.Applicants women                                              1637 non-null   float64
 18  ADM2021.Admissions men                                                1597 non-null   float64
 19  ADM2021.Admissions women                                              1570 non-null   float64
 20  ADM2021.SAT Evidence-Based Reading and Writing 25th percentile score  957 non-null    float64
 21  ADM2021.SAT Evidence-Based Reading and Writing 75th percentile score  957 non-null    float64
 22  ADM2021.SAT Math 25th percentile score                                957 non-null    float64
 23  ADM2021.SAT Math 75th percentile score                                957 non-null    float64
 24  ADM2021.ACT Composite 25th percentile score                           967 non-null    float64
 25  ADM2021.ACT Composite 75th percentile score                           967 non-null    float64
dtypes: float64(16), int64(2), object(8)
memory usage: 410.6+ KB

## nans

In [ ]:
newdf.iloc[:,[20:25]]

## cleaning

In [244]:
resultcols = newdf.iloc[:, [1,9,16,17,18,19]]

In [246]:
traincols = newdf.drop(newdf.columns[[1,9,16,17,18,19]],axis = 1)

In [248]:
traincols['meanACT'] = traincols[['ADM2021.ACT Composite 25th percentile score', 'ADM2021.ACT Composite 75th percentile score']].mean(axis=1)

In [249]:
traincols

,unitid,year,HD2021.Bureau of Economic Analysis (BEA) regions,HD2021.Degree-granting status,HD2021.Institutional category,HD2021.State abbreviation,IC2021.Other degree,IC2021.Academic,IC2021_AY.In-state average tuition for full-time undergraduates,IC2021_AY.Out-of-state average tuition for full-time undergraduates,...,IC2021_AY.Out-of-state average tuition full-time graduates,"IC2021_AY.On campus, room and board 2021-22",ADM2021.Admission test scores,ADM2021.SAT Evidence-Based Reading and Writing 25th percentile score,ADM2021.SAT Evidence-Based Reading and Writing 75th percentile score,ADM2021.SAT Math 25th percentile score,ADM2021.SAT Math 75th percentile score,ADM2021.ACT Composite 25th percentile score,ADM2021.ACT Composite 75th percentile score,meanACT
0,100654,2021,"Southeast (AL, AR, FL, GA, KY, LA, MS, NC, SC,...",Degree-granting,"Degree-granting, primarily baccalaureate or above",Alabama,Implied no,Yes,8610.0,17220.0,...,20160.0,9520.0,Considered but not required,430.0,520.0,410.0,510.0,15.0,20.0,17.5
1,100663,2021,"Southeast (AL, AR, FL, GA, KY, LA, MS, NC, SC,...",Degree-granting,"Degree-granting, primarily baccalaureate or above",Alabama,Implied no,Yes,8568.0,20400.0,...,19188.0,12307.0,Considered but not required,593.0,680.0,580.0,708.0,23.0,30.0,26.5
2,100690,2021,"Southeast (AL, AR, FL, GA, KY, LA, MS, NC, SC,...",Degree-granting,"Degree-granting, primarily baccalaureate or above",Alabama,Implied no,Yes,9000.0,9000.0,...,10800.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100706,2021,"Southeast (AL, AR, FL, GA, KY, LA, MS, NC, SC,...",Degree-granting,"Degree-granting, primarily baccalaureate or above",Alabama,Implied no,Yes,9730.0,22126.0,...,24430.0,10764.0,Required,580.0,700.0,590.0,720.0,24.0,31.0,27.5
4,100724,2021,"Southeast (AL, AR, FL, GA, KY, LA, MS, NC, SC,...",Degree-granting,"Degree-granting, primarily baccalaureate or above",Alabama,Implied no,Yes,8328.0,16656.0,...,14832.0,6050.0,Considered but not required,442.0,534.0,397.0,516.0,15.0,20.0,17.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016,496627,2021,"Far West (AK, CA, HI, NV, OR, WA)",Degree-granting,"Degree-granting, primarily baccalaureate or above",California,Implied no,Yes,46350.0,46350.0,...,30000.0,NaN,Considered but not required,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017,496803,2021,"Mid East (DE, DC, MD, NJ, NY, PA)",Degree-granting,"Degree-granting, primarily baccalaureate or above",District of Columbia,Implied no,Yes,11000.0,11000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018,497037,2021,"Southwest (AZ, NM, OK, TX)",Degree-granting,"Degree-granting, primarily baccalaureate or above",Texas,Implied no,Yes,14220.0,14220.0,...,NaN,NaN,Considered but not required,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019,497213,2021,"Far West (AK, CA, HI, NV, OR, WA)",Degree-granting,"Degree-granting, primarily baccalaureate or above",Washington,Implied no,Yes,15600.0,15600.0,...,NaN,10725.0,Recommended,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020,497268,2021,"Rocky Mountains (CO, ID, MT, UT, WY)",Degree-granting,"Degree-granting, primarily baccalaureate or above",Utah,Implied no,Yes,19546.0,19546.0,...,NaN,NaN,Neither required nor recommended,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [225]:
nonandf = newdf[newdf['ADM2021.SAT Evidence-Based Reading and Writing 25th percentile score'].notna()]

# Real Data Analysis

In [188]:
realdata = pd.read_csv("realdata.csv")

In [190]:
realdata.shape

(432, 12)

In [192]:
realdata.head(5)

,unitid,institution name,year,ADM2021.Admission test scores,"DRVIC2021.Tuition and fees, 2021-22",ADM2021.Applicants men,ADM2021.Applicants women,DRVADM2021.Percent admitted - men,DRVADM2021.Percent admitted - women,ADM2021.SAT Evidence-Based Reading and Writing 25th percentile score,ADM2021.SAT Math 25th percentile score,ADM2021.ACT Composite 25th percentile score
0,128586,Bais Binyomin Academy,2021,Neither required nor recommended,10050.0,31.0,0.0,74.0,NaN,NaN,NaN,NaN
1,188340,Vaughn College of Aeronautics and Technology,2021,NaN,26150.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,188429,Adelphi University,2021,Considered but not required,42475.0,5440.0,10544.0,73.0,80.0,540.0,540.0,22.0
3,188438,SUNY Adirondack,2021,NaN,5784.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,188517,Bryant & Stratton College-Albany,2021,NaN,18356.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [193]:
realdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 432 entries, 0 to 431
Data columns (total 12 columns):
 #   Column                                                                Non-Null Count  Dtype
---  ------                                                                --------------  -----
 0   unitid                                                                432 non-null    int64
 1   institution name                                                      432 non-null    object
 2   year                                                                  432 non-null    int64
 3   ADM2021.Admission test scores                                         212 non-null    object
 4   DRVIC2021.Tuition and fees, 2021-22                                   274 non-null    float64
 5   ADM2021.Applicants men                                                212 non-null    float64
 6   ADM2021.Applicants women                                              211 non-null    float64
 7   DRVADM2021.Percent admitted - men                                     194 non-null    float64
 8   DRVADM2021.Percent admitted - women                                   167 non-null    float64
 9   ADM2021.SAT Evidence-Based Reading and Writing 25th percentile score  78 non-null     float64
 10  ADM2021.SAT Math 25th percentile score                                78 non-null     float64
 11  ADM2021.ACT Composite 25th percentile score                           72 non-null     float64
dtypes: float64(8), int64(2), object(2)
memory usage: 40.6+ KB

In [200]:
data = realdata.dropna()

In [201]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70 entries, 2 to 354
Data columns (total 12 columns):
 #   Column                                                                Non-Null Count  Dtype
---  ------                                                                --------------  -----
 0   unitid                                                                70 non-null     int64
 1   institution name                                                      70 non-null     object
 2   year                                                                  70 non-null     int64
 3   ADM2021.Admission test scores                                         70 non-null     object
 4   DRVIC2021.Tuition and fees, 2021-22                                   70 non-null     float64
 5   ADM2021.Applicants men                                                70 non-null     float64
 6   ADM2021.Applicants women                                              70 non-null     float64
 7   DRVADM2021.Percent admitted - men                                     70 non-null     float64
 8   DRVADM2021.Percent admitted - women                                   70 non-null     float64
 9   ADM2021.SAT Evidence-Based Reading and Writing 25th percentile score  70 non-null     float64
 10  ADM2021.SAT Math 25th percentile score                                70 non-null     float64
 11  ADM2021.ACT Composite 25th percentile score                           70 non-null     float64
dtypes: float64(8), int64(2), object(2)
memory usage: 7.1+ KB

In [206]:
from sklearn.ensemble import RandomForestClassifier

forest_clf = RandomForestClassifier(random_state=42)

In [ ]:
from sklearn import